<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MODManager_v3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections> 
  <runtime>
    <legacyCorruptedStateExceptionsPolicy enabled="true" />
  </runtime>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <MODManager_v3.Properties.Settings>
            <setting name="Width" serializeAs="String">
                <value>860</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MWidth" serializeAs="String">
                <value>785</value>
            </setting>
            <setting name="MHeight" serializeAs="String">
                <value>570</value>
            </setting>
            <setting name="MTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Maximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Sorting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AZzA" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GameVersion" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowGameVersion" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
            <setting name="LangPriority" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>en</string>
                        <string>ru</string>
                        <string>pl</string>
                        <string>de</string>
                        <string>es</string>
                        <string>fr</string>
                        <string>it</string>
                        <string>cz</string>
                        <string>pt</string>
                        <string>jp</string>
                        <string>hu</string>
                        <string>nl</string>
                        <string>cs</string>
                        <string>ct</string>
                        <string>br</string>
                        <string>tr</string>
                        <string>ro</string>
                        <string>kr</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SortLang" serializeAs="String">
                <value>False</value>
            </setting>
        </MODManager_v3.Properties.Settings>
    </userSettings>
</configuration>