<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >

  <variable name="path" value="${basedir}/logs.log"/>
  <variable name="dateFormat" value="${date:format=HH\:mm\:ss}"/>
  <variable name="liteDateFormat" value="${date:format=mm\:ss}"/>

  <variable name="HeaderLayout" value="${gdc:item=productName} ${newline} Version = ${gdc:item=version} ${newline} Start time = ${longdate} ${newline} CurrentDirectory = ${gdc:item=CurrentDirectory} ${newline} Culture = ${gdc:item=Culture} ${newline} Machine = ${machinename} ${newline} User = ${gdc:item=userName} ${newline} OS Version = ${gdc:item=osVersion} ${newline} x64 = ${gdc:item=x64} ${newline} GAME VERSION = ${gdc:item=GAME_VERSION} ${newline} "/>

  <variable name="TraceLayout" value="${dateFormat} | ${level} | ${message}"/>
  <variable name="DebugLayout" value="${dateFormat} | ${level} | ${message}"/>
  <variable name="InfoLayout"  value="${liteDateFormat} | ${level}> ${message}"/>
  <variable name="WarnLayout"  value="${dateFormat} | ${level} | ${stacktrace:topFrames=1} | ${message}"/>
  <variable name="ErrorLayout" value="${dateFormat} | ${level} | ${stacktrace:topFrames=2} | ${message}"/>
  <variable name="FatalLayout" value="${dateFormat} | ${level} | ${stacktrace:topFrames=4} | ${message}"/>
  <targets>
    <target name="fileAsTrace" xsi:type="FilteringWrapper" condition="level==LogLevel.Trace">
      <target xsi:type="File" fileName="${path}" layout="${TraceLayout}" />
    </target>
    <target name="fileAsDebug" xsi:type="FilteringWrapper" condition="level==LogLevel.Debug">
      <target xsi:type="File" fileName="${path}" layout="${DebugLayout}" />
    </target>
    <target name="fileAsInfo" xsi:type="FilteringWrapper" condition="level==LogLevel.Info">
      <target xsi:type="File" fileName="${path}" layout="${InfoLayout}" />
    </target>
    <target name="fileAsWarn" xsi:type="FilteringWrapper" condition="level==LogLevel.Warn">
      <target xsi:type="File" fileName="${path}" layout="${WarnLayout}" />
    </target>
    <target name="fileAsError" xsi:type="FilteringWrapper" condition="level==LogLevel.Error">
      <target xsi:type="File" fileName="${path}" layout="${ErrorLayout}" />
    </target>
    <target name="fileAsFatal" xsi:type="FilteringWrapper" condition="level==LogLevel.Fatal">
      <target xsi:type="File" fileName="${path}" layout="${FatalLayout}" />
    </target>
  
    <target name="fileHeader" xsi:type="File" fileName="${path}" layout="${HeaderLayout}" deleteOldFileOnStartup="true" />

  </targets>


  <rules>
    <logger name="headerlogger" minlevel="Trace" writeTo="fileHeader" final="true" />
    <logger name="*" minlevel="Trace" writeTo="fileAsTrace,fileAsDebug,fileAsInfo,fileAsWarn,fileAsError,fileAsFatal" />
  </rules>
</nlog>